<footer id="footer">
  <h5>Tourify</h5>
  <h6>Find us on Social Media</h6>

  <div id="social-icons">
    <img src="images/social/facebook.png" alt="A facebook icon." />
    <img src="images/social/instagram.png" alt="A instagram icon." />
    <img src="images/social/linkdin.png" alt="A pinterest icon." />
    <img src="images/social/twitter.png" alt="A twitter icon." />
    <img src="images/social/youtube.png" alt="A youtube icon." />
  </div>
  <hr />
  <h6>Copyright 2022 - All Rights Reserved</h6>
</footer>
