<nav>
  <ul>
    <li><a href="/">Yatra</a></li>
    <li><a href="/blogs">Blogs</a></li>
    <!-- <li><a href="#">Deal of the week</a></li> -->
    <li><a href="/destination">Destination</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</nav>
