* {
  margin: 0;
  padding: 0;
}
body,
button,
input {
  font-family: "Questrial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  font-weight: normal;
  margin: 0;
}
textarea {
  height: 120px;
}
button,
input {
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
a,
button,
input {
  font-size: 1.125rem;
}

@keyframes intro-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-header {
  0% {
    transform: translateY(40px) scale(0.6);
  }
  100% {
    transform: translate(0) scale(1);
  }
}

#bg {
  background-image: url("./images/bggggg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed;
}

#dimmed-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.86);
  top: 0;
  left: 0;
  transition: all 0.6s;
  transform: translate(0);
  visibility: visible;
}
#full-site {
  visibility: visible;
  overflow: visible;
  max-height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#above-fold {
  position: relative;
  z-index: 12;
  color: white;
  padding-left: 92px;
  padding-top: 62px;
  box-sizing: border-box;
  width: 94%;
  height: 100vh;
  display: inline-block;
  opacity: 1;
  transition: all 1s 0.5s;
}

#above-fold nav {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  padding-bottom: 1.125rem;
  padding-right: 4.5rem;
}

#above-fold nav li {
  display: inline-block;
  padding: 0 1.875rem;
}

#above-fold nav li:first-child {
  padding-left: 0;
}

#above-fold nav a {
  transition: opacity 0.1s;
}

#above-fold nav a:hover {
  opacity: 0.6;
}

#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 50%;
  color: black;
  /* background: rgba(19, 28, 39, 0.8); */
  background-color: white;
  border: black;
  border-radius: 20px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-head {
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
}

.name-form,
.email-form {
  padding: 15px;
  text-align: center;
  border: 1px solid #e0e0e0;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 1rem;
}

.form-wrapper label {
  margin: 0px 8px;
}

.form-wrapper button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-wrapper input {
  border: black;
  padding: 5px 10px;
  width: 90%;
}

.form-wrapper button:hover {
  background-color: gray;
  color: black;
}

.main {
  margin: 2%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 1%;
  /* height: 16%; */
}
.card:hover {
  padding: 10px;
  border-radius: 10px;
  border: white;
}
.card img {
  width: inherit;
  height: 120px;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}

.title h1 {
  font-size: 20px;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.des button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: rgb(2, 2, 2);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.des button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

#footer {
  color: white;
  padding: 2.5rem 0;
  background-color: rgba(13, 13, 13, 0.48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

#footer h5 {
  font-size: 1.875rem;
  margin: 1.875rem 0;
}

#footer hr {
  width: 4%;
  border: 1px solid rgba(255, 255, 255, 0.38);
  border-top: none;
}

#footer h6 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

#footer #social-icons {
  padding: 0.75rem 0;
}

#footer #social-icons img {
  width: 2.25rem;
  padding: 0 0.25rem;
  transition: all 0.2s;
}

#footer #social-icons img:hover {
  transform: scale(1.2);
}

/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}

.blogs a:hover h3 {
  color: crimson;
}

/* details styles */
.details {
  position: relative;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* create styles */
.create-blog form {
  /* color: black; */
  max-width: 400px;
  margin: 0 auto;
}

.create-blog form input {
  color: black;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
}

.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.blog_content {
  margin-left: 20px;
}

.errorHeading {
  font-size: 6rem;
}
